/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #e2a139, #f9d423);
  background-size: cover;
  min-height: 100vh;
}
.coin-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 24px;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.heading {
  text-align: center;
  color: #a35200;
  font-size: 28px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 8px;
}
.description {
  color: #334155;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-top: 8px;
}
.coin-image {
  width: 150px;
  height: 150px;
}
.coin-button {
  background-color: #ffda6f;
  color: #a35200;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  outline: none;
  cursor: pointer;
}
.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.count {
  color: #475569;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-left: 24px;
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .count-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
  .coin-button {
    margin-top: 32px;
  }
  .coin-image {
    width: 250px;
    height: 250px;
  }
  .description {
    font-size: 24px;
    margin-top: 16px;
  }
  .heading {
    font-size: 48px;
    margin-bottom: 16px;
  }
  .coin-container {
    max-width: 500px;
    padding: 64px;
  }
}
